* text=auto eol=crlf
.travis.yml export-ignore eol=crlf
.styleci.yml export-ignore eol=crlf
.scrutinizer.yml export-ignore eol=crlf
BACKERS.md export-ignore eol=crlf
CONTRIBUTING.md export-ignore eol=crlf
CHANGELOG.md export-ignore eol=crlf
